
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* scroll-behavior: smooth; */
}  .sai{
    width:100%;
     /* border:2px solid black;  */
    /* height: 50px; */
    /* background-color: antiquewhite; */
    color: black;
    position: sticky;
    /* z-index: +1; */

}

.prasad{
    width: 100%;
    background-color: antiquewhite;
    position: fixed;
    z-index: +1;
}

.akhil,.rakesh,.siddu{
    width: 100px;
    /* border:2px solid black; */
    display:inline-block;
    margin-right:0px;
    margin-top: 0px;
    margin-bottom: 5px;
    right: 0px;
   
    
    
}
.akhil{
    margin-left: 65%;
}
.rahul{
    width:150px;
    /* border:2px solid black; */
    display:inline-block;
    margin-left: 5px;

}
.zz1{
     display: inline-block;
     background-color: black;
     color: white;
     top:390px;
     position: absolute;
    left: 700px;
    
}
/* .aaaa img{
    width:100%;
    height: auto;
    display:block; */


.zz2{
    display: inline-block;
    position: absolute;
    top:400px ;
    right: 650px;

    
}

.aaaa{
    width: 100%;
    text-align: center;
    position: relative;
    


    
     /* border: 2px solid black; */
} 
img{
    width: 100%;
}
.bbbb{
     width: 100%;
     /* border: 2px solid black; */
     position:absolute; 
}
.vv,.vvv,.vvvv,.vvvvv,.vvvvvv,.vvvvvvv,.vvvvvvvv,.vvvvvvvvv{
     width:360px;
     /* border: 2px solid black; */
     display: inline-block;
     margin: 10px;
     position:relative;
     
     /* margin-bottom: 0px;  */
     margin-left: 10px;
      margin-right: 0px
}
p{
    color: white;
    background-color: black; 
    width: 100px;
    position: absolute;
    top: 0px;
   
}
.ccc,.dddd,.ggg,.tttt,.qqqq{
    width: 100%;
    margin: 10px;

}
.hari{
    width: 100%;
    /* border: solid black; */
}
.k1,.k2,.k3,.k4{
    width: 360px;
    /* border: 2px solid black;  */
    display: inline-block;
    margin: 6px;
}
.uu{
     width: 360px;
}
.d1,.d2,.d3,.d4{
     width: 358px;
     margin-top: 20px;
}
label{
    display:block;
    width:100%;
    font-weight:bold;
    margin-bottom:5px;
}
input[type="text"]{
    width:100%;
    padding:10px;
    box-sizing:border-box;
    margin-bottom:15px;
}
.rr1{
    color: white;
    background-color: black;
    width: 200px;
    margin: 10px;
}
.jjj{
     width: 100%;
     /* border: 2px solid black; */
}